@import url(https://fonts.googleapis.com/css?family=Roboto);
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto';
}

.page {
  display: grid;
  grid-template-rows: 66px 60px auto  51px;
  grid-template-columns: 1fr 234px 900px 1fr;
  
  min-height: 100vh;
  background: white; 
}

.header {
  grid-row: 1;
  grid-column: 1/5;

  background: #07569A;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 234px 750px 150px 1fr;

}

.header__icon {
  grid-row: 1;
  grid-column: 2;

  padding-top: 10px;
  padding-left: 51px;

  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.header__basket {
  grid-row: 1;
  grid-column: 4;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 10px;
  border-left: 1px solid #FFFFFF;
}

.header__basket__icon {
  width: 33.85px;
  height: 33.34px;
}

.header__basket__info {
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.price::after, .main__goods__good__price::after{
  content: " ₽";
}

.number-of-goods {
  font-size: 14px;
  line-height: 20px;
}
.menu {
  grid-row: 2/4;
  grid-column: 2;

  background: #E5E4E5;

  display: flex;
  flex-direction: column;
}

a.menu__categories {
  color: #333333;
  text-decoration: none;
}

a.menu__categories:hover {
  text-decoration: underline;
}

.menu__categories {
  margin-top: 20px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs {
  grid-row: 2;
  grid-column: 3/4;

  padding-left: 30px;
  padding-top: 17px;
}

.breadcrumbs_crumbs {
  text-decoration: none;
  color: #333333;
}

.breadcrumbs_crumbs:hover {
  text-decoration: underline;
}

.breadcrumbs_crumbs:not(:last-child) {
  color: #3072C4;
}

.breadcrumbs_crumbs:not(:last-child):after {
  color: #333333;
  content: " > ";
}

.main {
  grid-row: 3;
  grid-column: 3/4;

  display: flex;
  flex-direction: column;

  min-width: 900px;
  max-width: 1400px;
}

.main__goods {
  display: flex;
  flex-wrap: wrap;

  height: 100%;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main__goods__good {
  margin-top: 30px;
  margin-left: 30px;
  width: 250px;
  height: 400px;

  display: flex;
  flex-direction: column;
}

.main__goods__good__icon {
  height: 169px;
  margin-bottom: 10px;
}

img {
  cursor: pointer;
}

.main__goods__good__name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main__goods__good__description {
  padding-top: 5px;
  color: #A0A0A0;
  flex-grow: 1;
}

.main__goods__good__price {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
}

.basket__button {
  width: 15.69px;
  height: 15px;
}

.main__goods__good__button {
  height: 42px;
  width: 123px;

  cursor: pointer;

  color: white;
  background: #07569A;
  border: 1px solid #1D85D0;
  box-sizing: border-box;
  border-radius: 1px;
}

.main__header {
  padding-top: 20px;
  padding-left: 30px;


  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}


.footer {
  grid-row: 4;
  grid-column: 2/4;

  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bord {
  border: 2px solid red;
}

.bord1 {
  border: 2px solid green;
}
